*.o
*.a
tcc_g
tcc
/*-tcc
tc2.c
doc
tc3s.c
p3.c
tc1.c
error.c
i386-gen1.c
test.out1
test.out1b
test.out2
test.out2b
test.out3
test.out3b
web.sh
memdebug.c
bench
Makefile.uClibc
boundtest
prog.ref
test.ref
test.out
tcc-doc.html
ideas
tcctest.ref
linux.tcc
ldtest
libtcc_test
instr.S
p.c
p2.c
tcctest[1234]
test[1234].out
tests/tcclib.h
tests/tcctest.gcc
tests/weaktest.*.o.txt
tests2/fred.txt
.gdb_history
tcc.1
tcc.pod
config.h
config.mak
config.texi
tags
.DS_Store
*.swp
lib/x86_64
lib/i386
lib/x86_64-win32
lib/i386-win32
tcc-doc.info
conftest*
tiny_libmaker
*.dSYM
